* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Roboto' , sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;900&family=Outfit&family=Playfair+Display:ital@1&family=Poppins:wght@400;700&family=VT323&display=swap');